*{
	padding: 0;
	margin: 0;
}

.blue-container{
	width: 100%;
	background: #0AC2FF;
	color: black;
	margin-top: 15%;
	padding: 4em 0 2em;
	transform: skewY(-2deg);
	border-top-left-radius: 80px; 
}

.blue-container:before {
	content: '';
	background: #0AC2FF;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -39px;
	right: 0;
	z-index: -2;
}

.blue-container:after {
	content: '';
	background: white;
	width: 80px;
	height: 80px;
	position: absolute;
	top: -80px;
	right: 0;
	border-radius: 50%;	
}


.grey-container {
	background: #f6f6f6;
	padding: 4em 0 2em;
	margin: -3%;
}

.footer-container {
	width: 100%;
	background: #3d444a;
	padding: 3em 0;
	border-top-right-radius: 40px;
	transform: skewY(2deg);
}

.footer-container .container {
	transform: skewY(-2deg);
}

.footer-container:before {
	content: '';
	background: #3d444a;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -39px;
	left: 0;
	z-index: -2;
}

.footer-container:after {
	content: '';
	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: -80px;
	left: 0;
	z-index: -1;
}
